h1, h2, h3 {
    padding: 10px;
}

h1 {
    background-color: lightblue;
}

h2 {
    background-color: lightcoral;
    margin: 7px;
}

h3 {
    background-color: lightgreen;
    margin: 15px;
}

li {
    list-style: none;
}

body {
    background-color: lightsteelblue;
}